/* Colors ==START */
.c-H5-c1{
    color: #6E747C;
}

.c-H5-c1-v2{
    color: rgba(110, 116, 124, 0.5);
}

.c-H5-c2{
    color: #F6F8F9;
}



/* Colors ==END */



/* Background colors ==START */
.c-H5-bg-c1{
    background-color: #393D42;
}

.c-H5-bg-c2{
    background-color: #F8F9FA;
}

.c-H5-bg-c3{
    background-color: #457AFB;
}

.c-H5-bg-c4{
    background-color: rgba(69, 122, 251, 0.24);
}


/* Background colors ==END */
